:root{
	--mdui-color-text-light: 25, 28, 29;
	--mdui-color-text-dark: 225, 227, 227;
	--mdui-color-shadow-dark: 200, 200, 200;
	--mdui-color-surface-container-low-dark: 34, 39, 46;
}
mdui-top-app-bar{
	background-color: rgb(var(--mdui-color-primary-container));
	box-shadow: var(--mdui-elevation-level3);
}
mdui-navigation-drawer{
	box-shadow: var(--mdui-elevation-level2);
}
a{
	color: rgb(254, 160, 201);
	text-decoration: none;
}
a:hover{
	color: rgb(238, 109, 154);
}
.top-title{
	color: rgb(var(--mdui-color-text));
}
.top-title:hover{
	color: rgb(var(--mdui-color-text));
}
.title-link{
	color: rgb(var(--mdui-color-text));
	font-size: 20px;
	font-weight: bold;
	height: 20px;
}
.title-link:hover{
	color: rgb(var(--mdui-color-text));
	text-decoration: underline;
}
mdui-list-subheader{
	font-size: var(--mdui-typescale-label-large-size);
	font-weight: var(--mdui-typescale-label-large-weight);
}
.repo-card{
	width: 375px;
	padding: 10px 0px 0px 10px;
	margin: 0px 10px 10px 0px;
	height: 160px;
	box-shadow: var(--mdui-elevation-level2);
	background-color: rgb(var(--mdui-color-surface-container-low));
}
.content-title{
	margin: 10px 0px 0px 10px;
	font-size: 2.5em;
}
.content{
	margin: 10px 0px 0px 10px;
	line-height: 28px;
}